body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 90%;
    margin: 20px auto;
    border: 1px solid green;
}
section{
    display: block;
}
#cabecera{
    display: flex;
    border: 2px solid green;
    padding-top: 15px;
    width: 98%;
    background-color: whitesmoke;
}
#menu{
    width: 100%;
    display: flex;
}
#menu a{
    text-decoration: none;
}
#lista{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 99%;
    padding: 2px;
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    border: 3px solid lightgreen;
    width: 150%;
    padding: 70px;
}
.boton4{
border: 2px solid greenyellow;
border-radius: 50px;
color: black;
background-color: green;
}
.boton5{
border: 2px solid greenyellow;
border-radius: 50px;
color: black;
background-color: green;
}
li{
    border: 1px solid red;
    justify-content: space-between;
    padding: 15px 20px;
    font-weight: 1000;
    font-style: normal;
    cursor: pointer;
}
li:hover{
    background-color: black;
    color: white 
}
#contenido{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid ed;
    align-items: center;
}
#box{
    border: 1px solid lightgreen;
    box-sizing: border-box;
    width: 50%;
    height: 250px;
    background-color: lightgreen;
    text-align: center;
}
#caja{
    box-sizing: border-box;
    width: 50%;
    height: 250px;
}
#caja2{
    border: 1px solid skyblue;
    box-sizing: border-box;
    width: 50%;
    height: 300px;
    text-align: center;
    background-color: skyblue;
}
.imagen2{
    box-sizing: border-box;
    width: 50%;
    height: 300px;

}
.Conocemasaqui{
    border: 5px solid ed;
    width: 70px;
    height: 70px;
    text-align: center;
    margin: auto;
    background-color: darkolivegreen;
    color: white;
    border-radius: 20px;
    padding: 5px;
    margin-top: 8px;
    font-weight: weight
}
.Conocemasaqui:hover{
    background-color: black;
    color: white;
    box-shadow: 10px;
    cursor: pointer;
}

#pie{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: whitesmoke;
}